<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<Configuration status="WARN">
    <!--日志门面-->
    <Appenders>
        <!--控制台-->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用-->
        <File name="LogToFile" fileName="/logs/test.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </Appenders>
    <!--级别配置-->
    <Loggers>
        <Logger name="com.sky" level="info" additivity="false">
            <!--输出到控制台-->
            <AppenderRef ref="LogToConsole"/>
            <!--输出到文件-->
            <!-- <AppenderRef ref="LogToFile"/>-->
        </Logger>
        <Logger name="com.sky.mapper" level="debug" additivity="false">
            <!--输出到控制台-->
            <AppenderRef ref="LogToConsole"/>
            <!--输出到文件-->
            <!-- <AppenderRef ref="LogToFile"/>-->
        </Logger>
        <!--默认配置-->
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>